body {
    margin: 0;
    font-family: 'Inter' ,sans-serif;
    background-color: #02192B;
}

.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
}

.welcome-section{
    margin-top: 90px;
    top: 90px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 5vh;
    background-color: #02192B;
    color: #fff;
}

.welcome-text{
    margin-top: -150px;
    margin-left: 60px;
}
.welcome-text h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
}
.welcome-text p{
    font-size: 1.25rem;
    color: #cccccc;
    max-width: 600px;
}

.discover-books{
    margin-left: 60px;
    padding: 20px 60px;
    font-size: 2rem;
    font-weight: bold;
    border-color: white;
    border-width: 1px;
    border-radius: 150px;
    background-color: #02192B;     
    color: #fff;                
    cursor: pointer;
    transition: all 0.3s ease;
}
.discover-books:hover{
    color: #01101C;
    background-color: #fff;
    transform: scale(1.1);
}

.site-header {
    background-color: #01101C;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.search-and-icons {
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}

.icon-btn,
.cart {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.icon-btn img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.icon-btn:hover {
    transform: scale(1.3);
}


.catalog-btn {
    background-color: #B32D2D;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart {
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.cart-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.cart-image:hover {
    transform: scale(1.3);
}

.cart-num {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #02192B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    /* Небольшое затемнение на фоне */
    z-index: 1000;
    /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none;
    /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
}

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
}

.new-books h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 80px;
}

.new-book-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 80px;
}

.book-card{
    width: 200px;
    height: 360px;
    background-color: #0a2235;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    color: white;
    text-align: center;
    transition: transform 0.3s;
}
.book-card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.book-card h3{
    font-size: 1.1rem;
    margin: 10px 0 5px;
}
.book-card .author{
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px;
}
.book-card .common-price{
    font-weight: bold;
    margin-bottom: 10px;
}
.book-card .old-price{
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
    margin-left: 8px;
}

.add-to-cart{
    background-color: #00101C;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 10px 60px;
    transition: 0.5s;
}
.add-to-cart:hover{
    background-color: #fff;
    color: #01101C;
}
.book-card:hover{
    transform: scale(1.05);
}
.cart-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #142c44;
    color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
}

.cart-popup.open {
    transform: translateX(0);
}

.cart-popup-content h3 {
    margin-top: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

#cart-items li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}